/* background image */
body, html {
    height: 100%;
    margin: 0;
}

.bg  {
    background-image: url(../images/bg1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* center text */
.row    {
    text-align: center;
}

/* Align instructions text left for aesthetics */
ul  {
    text-align: left;
}

/* create space at top */
/* and bottom .bottom-space */
.top-space  {
    padding: 30px;
}

/* Change coloring of the boxes and text */
.jumbotron  {
    background-color: rgba(6, 41, 66, 0.9);
    color: white;
}

/* Create spacing between the underscores and add aesthetics */
#game-text {
    letter-spacing: 20px;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-stretch: ultra-expanded;
}

/* Make the instructions more readable */
p  {
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 24px;
    font-family: 'Arial';
    padding-top: 10px;
}

/* Make headings different font and add aesthetics */
h1  {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

/* Add space between bottom two boxes */
.btm-left-box   {
    margin-right: 15px;
}

/* Extend bottom boxes farther down; not ideal way to do this but okay for now */
#btm-row    {
    height: 50%;
}

#score, #letter-guessed, #guesses-left {
    line-height: 2;
}